# vim: ft=yaml
apiVersion: v1
kind: Secret
metadata:
  name: pre-defined-secret
  namespace: action-runners
data:
  github_app_id: {{ .Environment.Values.actions_runner_controller.app_id }}
  github_app_installation_id: {{ .Environment.Values.actions_runner_controller.installation_id }}
  github_app_private_key: {{ .Environment.Values.actions_runner_controller.private_key }}
